@charset "UTF-8";

#page-wrapper {
    background: #3D5A5B
  }


 #page-content-wrapper {
    width: 100%;
    padding: 20px;
    background-color: #3D5A5B
  }
  
  #foo{
  background-color: #3D5A5B;
	padding-top: 20px;
	bottom:0
  }
  
#foo p{
  color: white;
}  

.d-block{
	width: 1200px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}
