<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.coStudy.mapper.MyPageMapper">
	<cache />

	<update id="updateUser" parameterType="org.coStudy.domain.UserVO">
		update user_info set user_phoneNo=#{user_phoneNo}, user_post=#{user_post}, user_address1=#{user_address1}, user_address2=#{user_address2}, 
		user_email=#{user_email}, user_nickName=#{user_nickName}, user_photo=#{user_photo}, user_thumbImg=#{user_thumbImg}
		where user_no=#{user_no}
	</update>
	
	<insert id="writeStudyDiary" parameterType="org.coStudy.domain.StudyNoteVO">
		insert into STUDYNOTE values(seq_studyNote.nextval,#{studyNote_keyword},#{studyNote_content},null,SYSDATE,#{user_no},#{studyNote_title})
	</insert>
	
	<select id="studyDiaryList" parameterType="int" resultType="org.coStudy.domain.StudyNoteVO">
		select * from STUDYNOTE where user_no=#{user_no}
	</select>
	
	<select id="studyDiaryListWithPaging" resultType="org.coStudy.domain.StudyNoteVO">
		<![CDATA[
			select studyNote_no,studyNote_keyword,studyNote_title,studyNote_content,studynote_date
				from (select rownum rn, studyNote_no,studyNote_keyword,studyNote_title,studyNote_content,studynote_date
						from studyNote where user_no=#{user_no} and rownum<=#{pageNum}*#{amount})
				where rn>(#{pageNum}-1)*#{amount}
		]]>
	</select>
	
	<select id="totalStudyDiaryList" resultType="int">
		select count(*) from studyNote where user_no=#{user_no}
	</select>
	
	<select id="joinGroupList" parameterType="int" resultType="org.coStudy.domain.StudyGroupVO">
		select * from STUDYGROUP WHERE studygroup_no in (select studygroup_no
                                            			 from groupuser where user_no = #{user_no})
	</select>
	
	<select id="studyDiaryDetail" resultType="org.coStudy.domain.StudyNoteVO">
		select * from studynote where studynote_no=#{studyNote_no}
	</select>
	
	<update id="updateStudyDiary">
		update studyNote set studyNote_title=#{studyNote_title},studyNote_keyword=#{studyNote_keyword}, studyNote_content=#{studyNote_content}, studynote_date=sysdate
			where studynote_no=#{studyNote_no}
	</update>
	
	<delete id="deleteStudyDiary">
		delete from studyNote where studyNote_no=#{studyNote_no}
	</delete>
	
	<insert id="toDoInsert" parameterType="org.coStudy.domain.toDoVO">
		insert into todo values(
  		#{user_no},#{todo_content},sysdate,0,seq_todo.nextval
		)
	</insert>
	<select id="toDoList" resultType="org.coStudy.domain.toDoVO" parameterType="int">
		select * 
		from todo 
		where USER_NO=#{user_no}
	</select>
	<update id="toDoUpdate" parameterType="int">
		update todo
		set complete=1
		where todo_no=#{todo_no}
	</update>
	<delete id="toDoDelete" parameterType="int">
		delete from todo where todo_no=#{todo_no}
	</delete>
	
	
	<insert id="scheduleRegister">
		insert into schedule values(#{user_no},seq_schedule.nextVal,#{title},#{allday},#{schedule_start},#{schedule_end})
	</insert>
	
	<select id="scheduleList" resultType="org.coStudy.domain.ScheduleVO">
		select schedule_no,schedule_title title, all_day allday, schedule_start, schedule_end
		from schedule where user_no=#{user_no}
	</select>
	
	<delete id="scheduleDelete">
		delete from schedule where schedule_no=#{schedule_no}
	</delete>
	
	<delete id="scheduleDeleteAll">
		delete from schedule where user_no=#{user_no}
	</delete>
	
	<insert id="quitUser" parameterType="Map">
		insert into withdraw values(#{withdraw_reason},#{user_no},'1')
	</insert>
</mapper>