<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.coStudy.mapper.MyPageMapper">
	<cache />

	<update id="updateUser" parameterType="org.coStudy.domain.UserVO">
		update user_info set user_phoneNo=#{user_phoneNo}, user_post=#{user_post}, user_address1=#{user_address1}, user_address2=#{user_address2}, 
		user_email=#{user_email}, user_nickName=#{user_nickName}
		where user_no=#{user_no}
	</update>
	
	<insert id="writeStudyDiary" parameterType="org.coStudy.domain.StudyNoteVO">
		insert into STUDYNOTE values(seq_studyNote.nextval,#{studyNote_keyword},#{studyNote_content},null,SYSDATE,#{user_no},#{studyNote_title})
	</insert>
	
	<select id="studyDiaryList" parameterType="int" resultType="org.coStudy.domain.StudyNoteVO">
		select * from STUDYNOTE where user_no=#{user_no}
	</select>
	
	<select id="studyDiaryListWithPaging" resultType="org.coStudy.domain.StudyNoteVO">
		<![CDATA[
			select studyNote_no,studyNote_keyword,studyNote_title,studyNote_content,studynote_date
				from (select rownum rn, studyNote_no,studyNote_keyword,studyNote_title,studyNote_content,studynote_date
						from studyNote where user_no=#{user_no} and rownum<=#{pageNum}*#{amount})
				where rn>(#{pageNum}-1)*#{amount}
		]]>
	</select>
	
	<select id="totalStudyDiaryList" resultType="int">
		select count(*) from studyNote where user_no=#{user_no}
	</select>
	
	<select id="joinGroupList" parameterType="int" resultType="org.coStudy.domain.StudyGroupVO">
		select * from STUDYGROUP WHERE studygroup_no in (select studygroup_no
                                            			 from groupuser where user_no = #{user_no})
	</select>
	
	<select id="studyDiaryDetail" resultType="org.coStudy.domain.StudyNoteVO">
		select * from studynote where studynote_no=#{studyNote_no}
	</select>
	
	<update id="updateStudyDiary">
		update studyNote set studyNote_title=#{studyNote_title},studyNote_keyword=#{studyNote_keyword}, studyNote_content=#{studyNote_content}, studynote_date=sysdate
			where studynote_no=#{studyNote_no}
	</update>
	
	<delete id="deleteStudyDiary">
		delete from studyNote where studyNote_no=#{studyNote_no}
	</delete>
</mapper>