<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.coStudy.mapper.NoticeMapper">
	
	<select id="list" resultType="org.coStudy.domain.NoticeVO">
		<![CDATA[
			select 
				notice_no,notice_title,notice_content,notice_date,manager_no
			from
				(
				select
					rownum rn,notice_no,notice_title,notice_content,notice_date,manager_no
				from 
					notice
				where rownum<=#{pageNum} * #{amount} 
				)
			where rn > (#{pageNum} -1) * #{amount}
		]]>
	</select>

	<select id="userList" resultType="org.coStudy.domain.NoticeVO">
		select * from notice
	</select>
	
	
	<insert id="insert" parameterType="org.coStudy.domain.NoticeVO">
		<selectKey keyProperty="notice_no" order="BEFORE"
			resultType="int">
			select seq_notice.nextval from dual
		</selectKey>

		insert into notice (
		notice_no,notice_title,notice_content,notice_date,manager_no
		)
		values(
		#{notice_no},
		#{notice_title},
		#{notice_content},
		SYSDATE,
		1<!--#{manager_no} 
			임의로 1로 해두기 -->
		)
	</insert>

	<select id="detail" resultType="org.coStudy.domain.NoticeVO"
		parameterType="int">
		select *
		from notice
		where notice_no=#{notice_no}
	</select>

	<delete id="delete" parameterType="int">
		delete from notice
		where
		notice_no=#{notice_no}
	</delete>

	<update id="update" parameterType="org.coStudy.domain.NoticeVO"> 
		update notice set
		notice_title=#{notice_title},
		notice_content=#{notice_content} 
		where notice_no=#{notice_no}
	</update>

</mapper>