<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.coStudy.mapper.QnaMapper">
	<!-- <select id="QnaInfo" resultType="org.coStudy.domain.QnaVO"> select 
		* from manager_qna where levels=1 </select> -->


	<!--처음 글을 쓸때 -->
	<insert id="UserInsert" parameterType="org.coStudy.domain.QnaVO">
		INSERT INTO question
		(qna_no,qna_title,qna_content,regdate,parentno,ISREAD,levels,USER_NO)
		values
		(seq_m_qna_no.nextval,#{qna_title},
		#{qna_content},SYSDATE,0,0,1,#{user_no})
	</insert>

	<select id="UserList" resultType="org.coStudy.domain.QnaVO"
		parameterType="int">
		select *
		from QUESTION
		where
		levels=1
		and
		user_no=#{user_no}
		order by qna_no desc
	</select>

	<select id="UserDetail" parameterType="org.coStudy.domain.QnaVO"
		resultType="org.coStudy.domain.QnaVO">
		select *
		from QUESTION
		where
		QNA_NO=#{qna_no}
		or
		PARENTNO=#{parentno}
		
			
	</select>
	<insert id="UserReplyInsert" parameterType="org.coStudy.domain.QnaVO">
		INSERT 
		INTO 
		question
		(qna_no,qna_title,qna_content,regdate,parentno,ISREAD,levels,USER_NO)
		values
		(seq_m_qna_no.nextval,
		'qn',
		#{qna_content},
		SYSDATE,
		#{parentno},
		0,
		2,
		#{user_no}
		)
	
	</insert>
	<select id="ManagerList" resultType="org.coStudy.domain.QnaVO">
		select *
		from QUESTION
		order by qna_no desc
	</select>
	<select id="ManagerDetail" parameterType="int" resultType="org.coStudy.domain.QnaVO"> 
		select * 
		from QUESTION
		where QNA_NO=#{qna_no} 
		OR 
		PARENTNO=#{qna_no} 
	</select> 

	<insert id="ManagerReplyInsert" parameterType="org.coStudy.domain.QnaVO">
		INSERT 
		INTO 
		question
		(qna_no,qna_title,qna_content,regdate,parentno,ISREAD,levels,manager_no)
		values
		(seq_m_qna_no.nextval,
		'qn_ma',
		#{qna_content},
		SYSDATE,
		#{parentno},
		0,
		2,
		1<!--임시  -->
		)
	
	</insert>
	
	
	<!-- <insert id="UserInsert" parameterType="org.coStudy.domain.QnaVO"> <selectKey 
		keyProperty="qna_no" order="BEFORE" resultType="int"> select seq_m_qna_no.nextval 
		from dual </selectKey> INSERT INTO question (qna_no,qna_title, qna_content, 
		regdate, parentNo, ISREAD, levels, USER_NO) values( #{qna_no}, #{qna_title}, 
		#{qna_content}, SYSDATE, 0,0,1, #{user_no}) USER_NO 임의로 1로 해주기 </insert> -->






	<!-- <select id="QnaDetail" parameterType="int" resultType="org.coStudy.domain.QnaVO"> 
		select * from MANAGER_QNA where QNA_NO=#{qna_no} OR PARENTNO=#{qna_no} </select> 
		<insert id="QnaInsertManagerReply" parameterType="org.coStudy.domain.QnaVO"> 
		INSERT INTO MANAGER_QNA (qna_no,qna_title,qna_content,regdate,parentNo,ISREAD,levels,MANAGER_NO) 
		values (seq_m_qna_no.nextval,#{qna_title},#{qna_content},SYSDATE,#{parentNo},0,2,#{manager_no}) 
		</insert> <insert id="QnaInsertUserReply" parameterType="org.coStudy.domain.QnaVO"> 
		INSERT INTO MANAGER_QNA (qna_no,qna_title,qna_content,regdate,parentNo,ISREAD,levels,USER_NO) 
		values (seq_m_qna_no.nextval,#{qna_title},#{qna_content},SYSDATE,#{parentNo},0,2,1) 
		</insert> <select id="countQna" resultType="int"> select count(*) from MANAGER_QNA 
		</select> -->
</mapper>