<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.coStudy.mapper.UserMapper">
	<cache />
	
	<select id="categoryAllList" resultType="org.coStudy.domain.CategoryVO">
		select * from category
	</select>
	
	<select id="idCheck" resultType="int">
		select count(*) from user_info where user_id=#{user_id}
	</select>
	
	
	<select id="userInfo" resultType="org.coStudy.domain.UserVO">
		select * from User_Info
	</select>

	<select id="newUserInfo" resultType="org.coStudy.domain.UserVO" parameterType="String">
		<![CDATA[
			select * from User_Info where TO_CHAR(user_register_date,'YY/MM/DD')=#{dateString}
		]]>

	</select>

	<insert id="insertUser" parameterType="org.coStudy.domain.UserVO">
		insert into user_info
		values(
		seq_user_info.NEXTVAL, #{user_id}, #{user_pw},
		#{user_lastName}, #{user_firstName},
		#{user_phoneNo}, #{user_post},
		#{user_birth}, #{user_email}, #{category_no},
		#{user_address1}, #{user_address2},
		SYSDATE
	)

	</insert>

	<select id="login" parameterType="org.coStudy.domain.LoginVO" resultType="org.coStudy.domain.UserVO">
		select *
		from user_info where user_id=#{userId} and user_pw = #{userPw}
	</select>
</mapper>